## Exercise 6.1: Sourcing Open Data

## Reading the data file

In [50]:
### Loading the required packages

import pandas as pd
import numpy as np
import os

In [51]:
## Setting the path to read the file

path = r"/Users/balachandark/Desktop/Achievement 6"

In [52]:
## Reading the data file

df_clv = pd.read_excel(os.path.join(path, 'Data', 'ibm_watson_clv_data.xlsx'))

In [53]:
## Checking the rows and columns

df_clv.shape

(9134, 24)

In [54]:
## Checking the file

df_clv.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [55]:
## Renaming all the columns for easier data analysis

df_clv.rename(columns = {'Customer': 'customer_id',
                         'State': 'state',
                         'Customer Lifetime Value': 'customer_lifetime_value',
                         'Response': 'response',
                         'Coverage': 'coverage',
                         'Education': 'education',
                         'Effective To Date': 'effective_to_date',
                         'EmploymentStatus' : 'employment_status',
                         'Gender' : 'gender',
                         'Income' : 'income',
                         'Location Code': 'region',
                         'Marital Status' : 'marital_status',
                         'Monthly Premium Auto': 'monthly_premium',
                         'Months Since Last Claim': 'months_since_last_claim',
                         'Months Since Policy Inception' : 'months_since_policy_inception',
                         'Number of Open Complaints': 'no_of_open_complaints',
                         'Number of Policies' : 'no_of_policies',
                         'Policy': 'policy',
                         'Policy Type': 'policy_type',
                         'Renew Offer Type': 'renew_offer_type',
                         'Sales Channel': 'sales_channel',
                         'Total Claim Amount': 'total_claim',
                         'Vehicle Class': 'vehicle_class',
                         'Vehicle Size': 'vehicle_size'}, inplace = True)

In [56]:
## Checking the revised column names
df_clv.columns

Index(['customer_id', 'state', 'customer_lifetime_value', 'response',
       'coverage', 'education', 'effective_to_date', 'employment_status',
       'gender', 'income', 'region', 'marital_status', 'monthly_premium',
       'months_since_last_claim', 'months_since_policy_inception',
       'no_of_open_complaints', 'no_of_policies', 'policy_type', 'policy',
       'renew_offer_type', 'sales_channel', 'total_claim', 'vehicle_class',
       'vehicle_size'],
      dtype='object')

In [57]:
## Print the data types of the dataset

df_clv.dtypes

customer_id                       object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employment_status                 object
gender                            object
income                             int64
region                            object
marital_status                    object
monthly_premium                    int64
months_since_last_claim            int64
months_since_policy_inception      int64
no_of_open_complaints              int64
no_of_policies                     int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim                      float64
vehicle_class                     object
vehicle_size                      object
dtype: object

#### None of the columns were dropped as they are useful for data analysis.

## Checking for missed values

In [60]:
df_clv.isnull().sum()

customer_id                      0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employment_status                0
gender                           0
income                           0
region                           0
marital_status                   0
monthly_premium                  0
months_since_last_claim          0
months_since_policy_inception    0
no_of_open_complaints            0
no_of_policies                   0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim                      0
vehicle_class                    0
vehicle_size                     0
dtype: int64

#### There are no missing values

## Checking for mixed data types

In [63]:
for col in df_clv.columns.tolist():
    weird = (df_clv[col].apply(type) != type(df_clv[col].iloc[0])).any()
    if weird:
        print(col)
    else: 
        print('There is no mixed-type data')

There is no mixed-type data
There is no mixed-type data
customer_lifetime_value
There is no mixed-type data
There is no mixed-type data
There is no mixed-type data
effective_to_date
There is no mixed-type data
There is no mixed-type data
income
There is no mixed-type data
There is no mixed-type data
monthly_premium
months_since_last_claim
months_since_policy_inception
no_of_open_complaints
no_of_policies
There is no mixed-type data
There is no mixed-type data
There is no mixed-type data
There is no mixed-type data
total_claim
There is no mixed-type data
There is no mixed-type data

In [82]:
## Changing column types

# customer_lifetime_value to float
df_clv['customer_lifetime_value'] = pd.to_numeric(df_clv['customer_lifetime_value'], errors='coerce')
df_clv['customer_lifetime_value'] = df_clv['customer_lifetime_value'].astype('float64') 

# Convert effective_to_date 
df_clv['effective_to_date'] = pd.to_datetime(df_clv['effective_to_date'], format='%m/%d/%y', errors='coerce')

# Convert numeric columns 
num_cols = [
    'income', 'monthly_premium', 'months_since_last_claim', 
    'months_since_policy_inception', 'no_of_open_complaints', 
    'no_of_policies'
]

for col in num_cols:
    df_clv[col] = pd.to_numeric(df_clv[col], errors='coerce').fillna(0).astype('int64')

# Convert total_claim to float
df_clv['total_claim'] = pd.to_numeric(df_clv['total_claim'], errors='coerce')
df_clv['total_claim'] = df_clv['total_claim'].astype('float64')

In [84]:
print(df_clv.dtypes)

customer_id                              object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employment_status                        object
gender                                   object
income                                    int64
region                                   object
marital_status                           object
monthly_premium                           int64
months_since_last_claim                   int64
months_since_policy_inception             int64
no_of_open_complaints                     int64
no_of_policies                            int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim                             float64
vehicle_class                            object
vehicle_size                             object
dtype: object

In [86]:
for col in df_clv.columns.tolist():
    weird = (df_clv[col].apply(type) != type(df_clv[col].iloc[0])).any()
    if weird:
        print(col)
    else: 
        print('There is no mixed-type data')

There is no mixed-type data
There is no mixed-type data
customer_lifetime_value
There is no mixed-type data
There is no mixed-type data
There is no mixed-type data
There is no mixed-type data
There is no mixed-type data
There is no mixed-type data
income
There is no mixed-type data
There is no mixed-type data
monthly_premium
months_since_last_claim
months_since_policy_inception
no_of_open_complaints
no_of_policies
There is no mixed-type data
There is no mixed-type data
There is no mixed-type data
There is no mixed-type data
total_claim
There is no mixed-type data
There is no mixed-type data

In [88]:
## Checking duplicates in the dataset

df_clv_dups = df_clv[df_clv.duplicated()]

In [90]:
df_clv_dups.head()

Empty DataFrame
Columns: [customer_id, state, customer_lifetime_value, response, coverage, education, effective_to_date, employment_status, gender, income, region, marital_status, monthly_premium, months_since_last_claim, months_since_policy_inception, no_of_open_complaints, no_of_policies, policy_type, policy, renew_offer_type, sales_channel, total_claim, vehicle_class, vehicle_size]
Index: []

[0 rows x 24 columns]

#### There are no duplicates

In [93]:
## Performing descriptive analysis

print(df_clv.describe())

       customer_lifetime_value              effective_to_date        income  \
count              9134.000000                           9134   9134.000000
mean               8004.940475  2011-03-29 07:59:25.316400384  37657.380009
min                1898.007675            2011-01-01 00:00:00      0.000000
25%                3994.251794            2011-01-25 00:00:00      0.000000
50%                5780.182197            2011-02-19 00:00:00  33889.500000
75%                8962.167041            2011-05-01 00:00:00  62320.000000
max               83325.381190            2011-12-02 00:00:00  99981.000000
std                6870.967608                            NaN  30379.904734

       monthly_premium  months_since_last_claim  \
count      9134.000000              9134.000000
mean         93.219291                15.097000
min          61.000000                 0.000000
25%          68.000000                 6.000000
50%          83.000000                14.000000
75%         109.000000                23.000000
max         298.000000                35.000000
std          34.407967                10.073257

       months_since_policy_inception  no_of_open_complaints  no_of_policies  \
count                    9134.000000            9134.000000     9134.000000
mean                       48.064594               0.384388        2.966170
min                         0.000000               0.000000        1.000000
25%                        24.000000               0.000000        1.000000
50%                        48.000000               0.000000        2.000000
75%                        71.000000               0.000000        4.000000
max                        99.000000               5.000000        9.000000
std                        27.905991               0.910384        2.390182

       total_claim
count  9134.000000
mean    434.088794
min       0.099007
25%     272.258244
50%     383.945434
75%     547.514839
max    2893.239678
std     290.500092

In [95]:
## Saving the cleaned data file

In [97]:
df_clv.to_csv(os.path.join(path, 'Cleaned Data', 'clean_clv_data.xlsx'))